* text=auto !eol
/LICENSE.txt -text
/pom.xml -text
src/main/java/org/onehippo/forge/hst/pdf/renderer/HtmlPDFRenderer.java -text
src/main/java/org/onehippo/forge/hst/pdf/renderer/servlet/ContentCapturingHttpServletResponse.java -text
src/main/java/org/onehippo/forge/hst/pdf/renderer/servlet/HtmlPDFRenderingFilter.java -text
src/site/resources/images/cncview.png -text
src/site/resources/images/deployview.png -text
src/site/site.xml -text
src/site/xdoc/index.xml -text
src/site/xdoc/install.xml -text
src/site/xdoc/release-notes.xml -text
src/test/java/org/onehippo/forge/hst/pdf/renderer/TestHtmlPDFRenderer.java -text
src/test/resources/log4j.xml -text
src/test/resources/org/onehippo/forge/hst/pdf/renderer/default-pdf-renderer.css -text
src/test/resources/org/onehippo/forge/hst/pdf/renderer/solar-power-the-sky-is-the-limit.html -text
src/test/resources/org/onehippo/forge/hst/pdf/renderer/tidy.properties -text
