* text=auto !eol
/pom.xml -text
src/main/java/org/onehippo/forge/hst/pdf/renderer/HtmlPDFRenderer.java -text
src/main/java/org/onehippo/forge/hst/pdf/renderer/servlet/ContentCapturingHttpServletResponse.java -text
src/main/java/org/onehippo/forge/hst/pdf/renderer/servlet/HtmlPDFRenderingFilter.java -text
src/test/java/org/onehippo/forge/hst/pdf/renderer/TestHtmlPDFRenderer.java -text
src/test/resources/log4j.xml -text
src/test/resources/org/onehippo/forge/hst/pdf/renderer/default-pdf-renderer.css -text
src/test/resources/org/onehippo/forge/hst/pdf/renderer/solar-power-the-sky-is-the-limit.html -text
