/**
 * Copyright 2012 Hippo.
 * 
 * This file is part of HST PDF Renderer.
 * 
 * HST PDF Renderer is free software: you can redistribute it and/or modify it 
 * under the terms of the GNU General Public License as published by the Free 
 * Software Foundation, either version 3 of the License, or (at your option) 
 * any later version.
 * 
 * HST PDF Renderer is distributed in the hope that it will be useful, but 
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY 
 * or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License along with
 * HST PDF Renderer. If not, see http://www.gnu.org/licenses/.
 */
@page { 
  size: letter;
  margin: 0.8in; 
  -fs-flow-top: "header";
  -fs-flow-bottom: "footer";
  -fs-flow-left: "left";
  -fs-flow-right: "right";
  border: thin solid gray;
  padding: 1em;
  @top-left {
    content: "Generated PDF Pages";
  }
  @top-right {
    content: "HST PDF Renderer";
  }
  @bottom-left {
    content: "www.onehippo.org";
  }
  @bottom-right {
    content: "Page " counter(page) "/" counter(pages);
  }
}

#header {
  font: bold serif;
  position: absolute; top: 0; left: 0; 
  -fs-move-to-flow: "header";
}

#footer {
  font-size: 90%; font-style: italic; 
  position: absolute; top: 0; left: 0;
  -fs-move-to-flow: "footer";
}

#pagenumber:before {
  content: counter(page); 
}

#pagecount:before {
  content: counter(pages);  
}

#pagebreakbefore {
  page-break-before: always;
}

#pagebreakafter {
  page-break-after: always;
}

#hd {
  display: none;
}

#leftmenu {
  display: none;
}

#right {
  display: none;
}
